<div class="narrative">
  <h2>Thank you.</h2>

  <p>Your idea has been submitted. We'll review it and add it to the site within a day or so. Please <%= link_to "check out more ideas", random_ideas_path %> or <%= link_to "submit another of your own", new_idea_path %>.</p>
</div>
