<div id="top-ideas">
  <div class="column">
    <h2>Recently Added Ideas</h2>
    <ul>
      <%= render @new_ideas %>
    </ul>
  </div>
  <div class="column">
    <h2>Most Popular Ideas</h2>
    <ul>
      <%= render @popular_ideas %>
    </ul>
  </div>
</div>
