@import "constants";

BODY {
  background-color: darken($primary-color, 20%);
  color: lighten($primary-color, 40%);
  font-family: 'Montserrat', sans-serif;
  margin: 0;

  &.one-screen {
    #header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }

    #content {
      position: absolute;
      top: 100px;
      left: 0px;
      right: 0px;
      bottom: 100px;
    }

    #footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

#content {
  background: darken($primary-color, 10%);
  overflow: hidden;
}

#header {
  height: 40px;
  padding: 30px 50px;
  background: transparent;
  background: linear-gradient(to bottom, darken($primary-color, 20%) 0%, darken($primary-color, 10%) 100%);
  overflow: hidden;
  line-height: 30px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;

  H1 {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: inherit;

    A {
      color: $primary-color !important;
      text-decoration: none;

      &:hover {
        color: lighten($primary-color, 10%) !important;
      }
    }
  }

  #navigation {
    float: right;

    A {
      display: inline-block;
      margin-left: 15px;
      opacity: .6;
      color: $secondary-color !important;
      text-decoration: none;

      &:hover {
        opacity: 1;
      }
    }
  }
}

#footer {
  height: 50px;
  padding: 30px 50px;
  text-align: center;
  background: transparent;
  background: linear-gradient(to top, darken($primary-color, 20%) 0%, darken($primary-color, 10%) 100%);

  #subscribe {
    font-size: 120%;
    margin-bottom: 10px;
    line-height: 150%;
    color: lighten($primary-color, 20%);
  
    a {
      color: lighten($primary-color, 40%) !important;
    }
  }

  #legal {
    font-size: 80%;
    color: $primary-color;
    line-height: 150%;
    
    a {
      color: lighten($primary-color, 10%) !important;
    }
  }
}

.button {
  display: inline-block;
  background: $action-color;
  background: linear-gradient(to bottom, $action-color 0%, darken($action-color, 5%) 100%);
  color: white;
  font-size: 24px;
  line-height: 50px;
  border-radius: 25px;
  padding: 0 30px;
  text-decoration: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

  &:hover {
    background: lighten($action-color, 5%);
    background: linear-gradient(to bottom, lighten($action-color, 5%) 0%, $action-color 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
}

.narrative {
  max-width: 600px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 25px;  

  A {
    color: $secondary-color;
  }
}

H2 {
  color: white;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  padding: 25px 0 0 0;
  margin: 0;
}
