@import "constants";

BODY {
  background-color: darken($primary-color, 10%);
  color: lighten($primary-color, 40%);
  font-family: 'Montserrat', sans-serif;
  margin: 30px 50px;
}

H1 {
  margin: 0;
  padding: 0;
  color: $secondary-color;
}

#content {
  position: absolute;
  top: 100px;
  left: 50px;
  right: 50px;
  bottom: 100px;
}

#footer {
  position: absolute;
  bottom: 30px;
  left: 50px;
  right: 50px;
  text-align: center;

  #subscribe {
    font-size: 120%;
    margin-bottom: 10px;
    line-height: 150%;
  
    a {
      color: lighten($primary-color, 60%) !important;
    }
  }

  #legal {
    font-size: 80%;
    color: $primary-color;
    line-height: 150%;
    
    a {
      color: lighten($primary-color, 10%) !important;
    }
  }
}

.button {
  display: inline-block;
  background-color: $action-color;
  color: white;
  font-size: 24px;
  line-height: 50px;
  border-radius: 25px;
  padding: 0 30px;
  text-decoration: none;

  &:hover {
    background-color: lighten($action-color, 5%);
  }
}