@import "constants";

.concerns {
  max-width: 900px;
  margin: 0 auto;

  UL {
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0;
    overflow: hidden;

    LI {
      float: left;

      A {
        display: inline-block;
        color: $secondary-color;
        line-height: 50px;
        font-size: 20px;
        background: darken($primary-color, 15%);
        padding: 0 20px;
        margin: 0 20px 20px 0;

        &:hover {
          background: darken($primary_color, 5%);
        }

        &.show-all {
          background: darken($primary-color, 20%);

          &:hover {
            background: darken($primary-color, 5%);
          }
        }
      }
    }
  }
}

@media only screen and (min-width : 320px) and (max-width : 760px) {
  .concerns {
    margin: 0 10px;

    UL LI A {
      line-height: 40px;
      font-size: 18px;
      margin: 0 15px 15px 0;
    }
  }
}