@import "constants";

.idea-finder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;

  .switch-concern {
    font-size: 30px;
    margin-bottom: 30px;

    A {
      color: $secondary_color !important;
      border-radius: 10px;
      padding: 3px 10px;
      background: darken($primary_color, 15%);
      background: linear-gradient(to bottom, darken($primary-color, 13%) 0%, darken($primary-color, 17%) 100%);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

      &:hover {
        background: darken($primary_color, 5%);
      background: linear-gradient(to bottom, darken($primary-color, 3%) 0%, darken($primary-color, 7%) 100%);
      }
    }
  }

  .idea {
    margin: 0 50px;
    
    .name {
      color: white;
      font-size: 55px;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
    }

    .description {
      display: none;
      font-size: 18px;
      margin-top: 10px;
      line-height: 24px;
    }

    .contributor {
      display: none;
      color: $primary-color;
      font-style: italic;
      font-size: 15px;
    }

    &.with-more {
      max-width: 600px;
      margin: 0 auto;
      text-align: left;
      background: darken($primary-color, 15%);
      padding: 10px 15px;
      border-radius: 5px;
      
      .name {
        font-size: 22px;
        text-shadow: none;
      }
      
      .description, .contributor {
        display: block;
      }

      .learn-more {
        opacity: .5;
      }
    }
  } 

  .buttons {
    margin-top: 20px;
  }
  
  .secondary-link {
    display: inline-block;
    font-size: 20px;
    color: $action-color !important;
    margin: 0 15px;
    width: 240px;
    
    &:hover {
      color: lighten($action-color, 10%) !important;
    }

    &.learn-more {
      text-align: right;
    }
    
    &.another {
      text-align: left;
    }
  }

  .share {
    margin-top: 20px;
    line-height: 26px;
    height: 26px;

    .twitter-share-button {
      position: relative !important;
      top: 8px !important;
    }
  }
}

@media only screen and (min-width : 320px) and (max-width : 760px) {
  .idea-finder {
    position: static;
    transform: none;
    margin: 0 10px;
    width: auto;

    .switch-concern {
      font-size: 16px;
      line-height: 30px;

      A {
        display: block;
        font-size: 20px;
      }
    }
    
    .idea {
      margin: 0px;
      
      .name {
        font-size: 30px;
      }

      &.with-more {
        .name {
          font-size: 24px;
        }

        .contributor {
          font-size: 14px;
        }

        .description {
          font-size: 18px;
        }
      }
    }

    .buttons {
      A {
        display: block;
        text-align: center !important;
        width: auto;

        &.secondary-link {
          line-height: 50px;
        }
      }
    }

    .share {
      height: 40px;
    }
  }
}