@import "constants";

.idea-finder {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;

  .switch-concern {
    font-size: 30px;
    margin-bottom: 30px;
  }
  
  .name {
    color: white;
    font-size: 60px;
  }

  .buttons {
    margin-top: 20px;
  }
  
  .another {
    font-size: 24px;
    color: $action-color !important;
    margin-left: 15px;
    
    &:hover {
      color: lighten($action-color, 10%) !important;
    }
  }

  .share {
    margin-top: 20px;
    line-height: 26px;
    height: 26px;

    .twitter-share-button {
      position: relative !important;
      top: 8px !important;
    }
  }
}