<!DOCTYPE html>
<html>
  <head>
    <title>Whatnow</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>What now?</h1>
    <div id="content">
      <%= yield %>
    </div>
    <div id="footer">
      <div id="legal">
        &copy; 2016 <a href="http://suckminimally.com/">Justin Streufert</a> &bull;
        Not a political message; paid for by nobody &bull;
        <a href="https://github.com/monitron/whatnow/">Code (MIT License)</a> &bull; <a href="http://creativecommons.org/licenses/by/4.0/">Content License</a>
      </div>
    </div>
  </body>
</html>
